*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.page-header__nav, .page-header__main-links, .page-header__main-contacts, .page-header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--main-color);
}

.section {
  padding: 94px 0;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
}

.hidden {
  overflow: hidden;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 93px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  letter-spacing: 0.03em;
}

.header__logo__color {
  display: inline-block;
  color: #212121;
}

.page-header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  padding: 32px 0;
  position: relative;
}

.page-header__link:hover {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__main-links {
  margin: 0;
}

.page-header__link__underline::after {
  content: "";
  width: 48px;
  height: 4px;
  background: #2196f3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.page-header__contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  padding: 32px 0;
  margin-left: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__contact:hover {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__main-contacts:first-child {
  margin: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

.page-header__contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: #2f303a;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img18.jpg);
  background-image: -webkit-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img18.jpg);
  background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img18.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img18.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: #ffffff;
  letter-spacing: 0.06em;
  max-width: 650px;
  margin: 0 auto;
}

.hero__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  color: #fff;
  background-color: #188ce8;
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 44px;
  padding: 10px 32px;
}

.benefits__thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.benefits__title {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.1;
  margin-right: 30px;
}

.benefits__description {
  margin-right: 30px;
  width: 270px;
}

.benefits__info {
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.8;
  color: #757575;
  padding-top: 10px;
  letter-spacing: 0.03em;
}

.benefits__description:last-child {
  margin-right: 0;
}

.benefits__icon {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.mission {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mission__section {
  padding-top: 0;
}

.mission__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  background: rgba(47, 48, 58, 0.8);
  position: relative;
  width: 370px;
  text-align: center;
}

.mission__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.team__section {
  background-color: #f5f4fa;
}

.team__members {
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
}

.team__members:not(:last-child) {
  margin-right: 30px;
}

.team__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}

.team__job {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
  margin-bottom: 16px;
}

.team__social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__member-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
}

.team__member-link:hover, .team__member-link:focus {
  background: #2196f3;
  fill: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__member-social-networks:not(:first-child) {
  margin-left: 10px;
}

.customers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.customers__meta {
  width: 170px;
  height: 92px;
}

.customers__meta:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #afb1b8;
}

.customers__link:hover, .customers__link:focus {
  color: #2196f3;
  border-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  margin-right: 70px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  letter-spacing: 0.03em;
}

.footer__logo__color {
  display: inline-block;
  color: #fff;
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-links:not(:last-child) {
  margin-right: 10px;
}

.footer__social-networks {
  margin-left: 70px;
}

.footer__network-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;
}

.footer__network-link:hover {
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.address,
.communication {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  background-color: #2f303a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.address {
  margin-top: 20px;
}

.communication {
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  margin-top: 9px;
}

.footer__subscription {
  margin-left: auto;
}

.footer__form {
  margin-top: 20px;
}

.footer__form-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__e-mail-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mail-input {
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 0 15px 16px;
}

.subscribe-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  text-align: center;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 200px;
  height: 50px;
}

.telegram-svg {
  margin-left: 10px;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #2196f3;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  top: 0%;
  bottom: 0%;
  -webkit-transform: translateY(101%);
      -ms-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 60px 24px;
}

.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.25ms;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 580px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 40px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cross {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  top: 8px;
  right: 8px;
  -webkit-transition: 0.3s linear color;
  -o-transition: 0.3s linear color;
  transition: 0.3s linear color;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-cross:hover {
  fill: #2196f3;
  background-color: #fff;
}

.modal-form {
  margin-top: 12px;
}

.modal-headline {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.close-cross {
  width: 11px;
  height: 11px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-input {
  color: rgba(255, 255, 255, 0.6);
}

.form-input-box {
  display: block;
  margin-bottom: 10px;
  color: #757575;
  font-size: 12px;
  position: relative;
}

.form-input,
.form-message {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-top: 4px;
  padding: 0 11px 0 40px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-input:focus + svg {
  fill: #2196f3;
}

.form-input-icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message {
  font-family: inherit;
  resize: none;
  height: 120px;
  width: 450px;
  padding: 12px 16px;
}

.form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy-box {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.policy-box:before {
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-right: 9px;
}

.policy-checkbox:checked + .policy-box::before {
  background-color: #2196f3;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
}

.policy-checkbox:focus + .policy-box::before {
  border: 1px solid #2196f3;
}

.policy-box a {
  color: #2196f3;
  text-decoration: underline;
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-submit-button {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.portfolio__header {
  overflow: hidden;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  position: relative;
}

.page-header__link__line::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 4px;
  background: #2196f3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin: 0;
  bottom: -1px;
}

.portfolio__buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__option-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-right: 8px;
}

.portfolio__option-button:hover {
  background-color: #2196f3;
  color: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-basis: -webkit-calc(100% / 3 - 30px);
      -ms-flex-preferred-size: calc(100% / 3 - 30px);
          flex-basis: calc(100% / 3 - 30px);
}

.clients__meta {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
}

.clients__meta:hover, .clients__meta:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.clients__meta:nth-child(3n) {
  margin-right: 0;
}

.clients__meta:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.clients__description {
  border: 1px solid #eeeeee;
}

.clients__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  padding: 20px 24px 4px 24px;
  color: #212121;
}

.clients__meaning {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
  padding: 4px 24px 20px 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clients__link:hover .overlay,
.clients__link:focus .overlay {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #2196f3;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  top: 0%;
  bottom: 0%;
  -webkit-transform: translateY(101%);
      -ms-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 60px 24px;
}
/*# sourceMappingURL=main.css.map */