.benefits {
	&__thumb {
		display: flex;
	}
	&__title {
		font-weight: 700px;
		font-size: 14px;
		line-height: 1.1;
		margin-right: 30px;
	}
	&__description {
		margin-right: 30px;
		width: 270px;
	}
	&__info {
		font-weight: 400px;
		font-size: 14px;
		line-height: 1.8;
		color: $sec-active-color;
		padding-top: 10px;
		letter-spacing: 0.03em;
	}
	&__description:last-child {
		margin-right: 0;
	}
	&__icon {
		width: 270px;
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		background-color: #f5f4fa;
	}
}
