.portfolio__header {
	overflow: hidden;
	opacity: 0;
	width: 1px;
	height: 1px;
	margin-bottom: -1px;
	border: 0;
	clip: rect(0 0 0 0);
	position: relative;
}
.page-header__link__line::after {
	content: "";
	position: absolute;
	width: 78px;
	height: 4px;
	background: $active-color;
	border-radius: 2px;
	margin: 0;
	bottom: -1px;
}
